/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ======================================================== */
/* This pattern is downloaded from www.subtlepatterns.com   */
/* If you need more, that's where to get'em.                */
/* ======================================================== */

/* Custom Site Styles */
/* Comments and Notes */

/*  */

/* Base Styles (element selectors; color, typography, and that's it)*/
/* Layout (id selectors; width/height, position, flexbox, grid) */
/* Module/Modular Section (class or descedent selectors; repeating specific styles) */
/* State (repeat the structure above; media queries, JavaScript-dependent styles) */

/* Maths */
/*      font-size      *//*         line-height        *//* elmt */
/* 18.000 / 16 = 1.125 *//* 22  / 18.000 = 1.222222222 *//* html */
/* 91.134 / 18 = 5.063 *//* 110 / 91.134 = 1.204291658 *//*  h1  */
/* 60.750 / 18 = 3.375 *//* 88  / 60.750 = 1.448559671 *//*  h2  */
/* 40.500 / 18 = 2.250 *//* 44  / 40.500 = 1.086419753 *//*  h3  */
/* 27.000 / 18 = 1.500 *//* 44  / 27.000 = 1.629629630 *//*  h4  */
/* 12.006 / 18 = 0.667 *//* 22  / 12.006 = 1.376145261 *//*  sm  */
/* top | right | bottom | left */

/* NOTE: I had to do sudo npm i -g stylelint@8.4.0 since */
/* NOTE: stylelint refeuses to install on my machine using info from its github page*/
/* NOTE: even after tying to install it diffrent ways and making .stylelinrc */
/* NOTE: the command stylelint is still not present*/

/* Base Styles (element selectors; color, typography, and that's it)*/
html {
  -background-color: #DDD;
  background-image: url(/assets/img/escheresque_ste.png);
  -background-image: url(/assets/img/baseline.png);
  color: #222;
  font-family: Roboto, "Bai Jamjuree", Calibri, Helvetica, sans-serif;
  font-size: 1.125em;/* 18.000 / 16 = 1.125 */
  font-weight: 400;
  line-height: 1.222222222em;/* 22  / 18.000 = 1.222222222 */
  overflow-wrap: break-word;
  padding: 1.222222222em 1.222222222em;/* TODO: whats this doing? */
}
/*  */
header {
  background-color: #773D15;
  border-radius: 0.611111111em 0.611111111em 0 0;
  display: flex;
  flex-flow: column wrap;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

h1 {
  padding: 0em 0.305555555em;
}

.nav-menu {
  background-color: #236412;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 0em;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.nav-item {
  padding: 0em 0.814814815em;
  text-align: center;
}

.nav-item a:hover {
  background-color: #33cc33;
}
.nav-item a:active {
  background-color: #70db70;
}

.nav-item a {
  border-radius: 0.55em;
  color: #222;
  display: inherit;
  font-family: "Bai Jamjuree", Roboto, Calibri, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.629629630em;
  text-align: center;
  text-decoration: none;
}

header address {
  background-color: #5B1043;
  font-size: 1.125em;/* 18.000 / 16 = 1.125 */
  font-weight: 400;
  line-height: 1.222222222em;/* 22  / 18.000 = 1.222222222 */
  padding: 0.611111111em 0.5625em 0.611111111em 0.5625em;
}
header address ol {
  padding: 0;
}
header address ol li {
  padding: 0;
}

main {
  background-color: #DDD;
  padding: 0em 1.222222222em 0em 1.222222222em;
}
  /* top | right | bottom | left */

h1, h2, h3, h4 {
  font-family: "Bai Jamjuree", Roboto, Calibri, Helvetica, sans-serif;
  font-weight: 500;
}
/*  */

h1, h2, h3 {
  font-size: 2.25em;  /* 40.500 / 18 = 2.250 */
  line-height: 1.629629629em; /* 66  / 40.500 = 1.086419753 */
}

h4 {
  font-size: 1.5em;   /* 27.000 / 18 = 1.500 */
  line-height: 1.62962963em;  /* 44  / 27.000 = 1.629629630 */
}

small {
  font-size: 0.667em; /* 12.006 / 18 = 0.667 */
  line-height: 1.376145261em; /* 22  / 12.006 = 1.376145261 */
}

audio, img, video {
  display: block;
  max-width: 100%;
}

figcaption {
  background-color: #222;
  color: #EEE;
  padding: 0.166666667em; /* 3 / 18 = 0.166666667 */
  text-align: center;
}

/* Layout (id selectors; width/height, position, flexbox, grid) */

/* Module/Modular Section (class or descedent selectors; repeating specific styles) */
li, ol, ul {
  padding-bottom: 0.611111111em; /* 1.222222222 / 2 = 0.611111111 */
}

li ol, li ul {
  padding-left: 1.222222222em; /* 22  / 18.000 = 1.222222222 */
}

.employer {
  font-family: "Bai Jamjuree", Roboto, Calibri, Helvetica, sans-serif;
}

.images {
  background: #222;
  overflow: auto;
  padding: 0.277777778em; /* 5 / 18 = 0.277777778 */
}

.images li {
  box-sizing: border-box;
  padding: 0.277777778em; /* 3 / 18 = 0.277777778 */
}

.job-achievements, .leadership {
  list-style-type: circle;
}

.degrees {
  font-weight: 600;
}
/* State (repeat the structure above; media queries, JavaScript-dependent styles) */

/* Border-raidus */


@media screen and (min-width: 388px) {
  /* Module/Modular Section */
  .nav-menu {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 582px) {
    /* Base Styles */
    h1, h2 {
      font-size: 3.375em; /* 60.750 / 18 = 3.375 */
      line-height: 1.448559671em; /* 88  / 60.750 = 1.448559671 */
      overflow-wrap: normal;
    }
}

@media screen and (min-width: 840px) {
    /* Base Styles */
  h1 {
    font-size: 5.063em; /* 91.134 / 18 = 5.063 */
    line-height: 1.204291658em; /* 110 / 91.134 = 1.204291658 */
  }
}

@media screen and (min-width: 1072px) {
  /* Base Styles */

  /* Layout  */
  #schools {
    display: flex;
    flex-flow: row wrap;
  }

  /* Module/Modular Section  */
  #schools li {
    flex: 1 0 auto;
    width: 50%;
  }
}
